# Example environment configuration

# Environment Settings
ENV=dev
DJANGO_SETTINGS_MODULE=pystack.settings.dev
PYTHONPATH=./

# Postgres Database Configuration
POSTGRES_USER=postgres_user
POSTGRES_DB=postgres_db
POSTGRES_PASSWORD=postgres_password
POSTGRES_HOST=postgres_db
PGADMIN_DEFAULT_EMAIL=mail@mail.com
PGADMIN_DEFAULT_PASSWORD=postgres_password

# Docker Container Ports
DJANGO_PORT=8000
REACT_PORT=3000
POSTGRES_PORT=5432
PGADMIN_PORT=8081
PGADMIN_PORT_INTERNAL=80
